.col-md-12{"ng-controller" => "UploadController"}
  %h3 Render tabular data as table
  %hr

  %form{:role => "form", :action => "/tabular/render", :method => "post"}
    .form-group
      .radio-inline
        %label
          %input{:type => "radio", :name => "delimiter",
              :value => "\t", :checked => @delimiter=="\t" || true} Tab
      .radio-inline
        %label
          %input{:type => "radio", :name => "delimiter",
              :value => ",", :checked => @delimiter==","} Comma
    .form-group
      %input.pull-left{:type => "file", "ng-file-select" => "onFileSelect($files)"}
      %progress.pull-right{"ng-show" => "progress", :value => "{{progress}}"}
      .clearfix
      %p.help-block Upload your file and preview its content below. But don't upload anything larger than 700KB, it's going to kill your browser
    .form-group
      %textarea#tabular-textarea{:rows => "18", :name => "tabular-input", 
        "ng-model" => "tabularInput", "ng-init" => "tabularInput='#{@tabular_input}'"}
      :javascript
        $(document).ready(function() {
          $("#tabular-textarea").linedtextarea(
            #{@error_line ? "{selectedLine : #{@error_line}}" : ""}
          );
        });
    %button.btn.btn-primary#submit-form-btn Render

.col-md-12
  - if @render_result
    %hr
    - if @render_result.respond_to?('each')
      %table.table.table-bordered.table-striped
        - if @render_result.count > 1
          %tr
            - @render_result.delete_at(0).each do |header|
              %th&= header
        - @render_result.each do |row|
          - if row
            %tr
              - row.each do |column|
                %td&= column
    - else
      .alert.alert-danger
        = @render_result
